<section class="cmsBacker parallax2">

	<div class="">
		<!-- Your Logo -->
		<%= image_tag('logo-icon-m.png') %>
	</div>
	
	<div class="title grid-full">
		<h2 class="bold">Manage your website's content</h2>
		<div class="minusTop"><%= link_to "{ HOME }", root_path %></div>
		<span class="border"></span>
	</div>

	<%= render partial: 'projects' %>
	<%= render partial: 'services' %>
	
</section>