<!-- Blockquote -->
<section id="blockquote">

	<div class="inner no-padding">
		<!-- Your Text -->
		<p class="normal white blockquote italic"><em>"Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and charm and gaiety to life and to everything."</em>
		</p><br/> - PLATO
	</div>

</section><!-- End Blockquote Section -->