<!-- Blockquote -->
<section id="blockquote">

	<div class="inner no-padding">
		<!-- Your Text -->
		<p class="uppercase normal white blockquote">One Tree Music can help you achieve your dreams !</p>
	</div>

</section><!-- End Blockquote Section -->