<!-- Testimonials -->
<section id="clients" class="clients parallax2">

	<div class="inner">

		<ul class="t-slides">

			<!-- Testimonial -->
			<li class="monial">
				<!-- Text -->
				<h1 class="uppercase bold condensed white">Informed decision-making comes from a long tradition of <span class="colored"> guessing and</span> then blaming <span class="colored"> others</span> for inadequate results.</h1>
				<!-- Name -->
				<p class="light uppercase">scott adams</p>
			</li>

			<!-- Testimonial -->
			<li class="monial">
				<!-- Text -->
				<h1 class="uppercase bold condensed white">Free will is an illusion. <span class="colored">People always</span> choose the perceived path of greatest pleasure.</h1>
				<!-- Name -->
				<p class="light uppercase">scott adams</p>
			</li>

		</ul>

	</div><!-- End Inner Div -->

</section><!-- End Testimonials Section -->