<!-- Fun Acts -->
<section id="fun-acts" class="container">

	<div class="inner">

		<!-- Company Facts -->
		<div class="facts">


			<!-- Factor -->
			<div class="col-xs-3 fact">
				<!-- Fact Left -->
				<a class="fact-icon">
					<!-- Fact Icon -->
					<i class="fa fa-briefcase"></i>
				</a>
				<!-- Factor Area -->
				<div class="fact-number" data-perc="1231">
					<!-- Factor -->
					<h1 class="factor light"></h1>
					<!-- Factor Description -->
					<h3 class="light uppercase">Searches completed</h3>
				</div><!-- End Factor Area -->
			</div><!-- End Factor -->


			<!-- Factor -->
			<div class="col-xs-3 fact">
				<!-- Fact Left -->
				<a class="fact-icon">
					<!-- Fact Icon -->
					<i class="fa fa-pagelines"></i>
				</a>
				<!-- Factor Area -->
				<div class="fact-number" data-perc="463">
					<!-- Factor -->
					<h1 class="factor"></h1>
					<!-- Factor Description -->
					<h3 class="light uppercase">Original compositions</h3>
				</div><!-- End Factor Area -->
			</div><!-- End Factor -->


			<!-- Factor -->
			<div class="col-xs-3 fact">
				<!-- Fact Left -->
				<a class="fact-icon">
					<!-- Fact Icon -->
					<i class="fa fa-comments"></i>
				</a>
				<!-- Factor Area -->
				<div class="fact-number" data-perc="153">
					<!-- Factor -->
					<h1 class="factor light"></h1>
					<!-- Factor Description -->
					<h3 class="light uppercase">Satisfied clients</h3>
				</div><!-- End Factor Area -->
			</div><!-- End Factor -->


			<!-- Factor -->
			<div class="col-xs-3 fact">
				<!-- Fact Left -->
				<a class="fact-icon">
					<!-- Fact Icon -->
					<i class="fa fa-coffee"></i>
				</a>
				<!-- Factor Area -->
				<div class="fact-number" data-perc="3713">
					<!-- Factor -->
					<h1 class="factor light"></h1>
					<!-- Factor Description -->
					<h3 class="light uppercase">Macchiatos</h3>
				</div><!-- End Factor Area -->
			</div><!-- End Factor -->

			<!-- Clear -->
			<div class="clear"></div>
		</div><!-- End Company Facts -->

	</div><!-- End Fun Acts Inner -->

</section><!-- End Fun Acts Section -->