<!-- Home Section -->
<section id="home" class="relative"> 	
	<div id="slides">
		<div class="slides-container relative">
			<!-- Slider Images -->
			<div class="image1"></div>
			<div class="image2"></div>
			<div class="image3"></div>
			 <!-- End Slider Images -->	 
		</div>
	</div><!-- End Home Slides -->
	<div class="v2 absolute">
		<!-- Auto Typocraphic Texts -->
		<div class="typographic">
			<h1 class=" condensed uppercase no-padding no-margin bold">welcome to</h1>
			<h1 class=" condensed uppercase no-padding no-margin bold colored">one tree music</h1>
			<h3 class=" condensed uppercase no-padding no-margin bold size">passionate about music &amp; image</h3>
		</div><!--End Auto Typocraphic Texts -->
		<!-- Bottom Arrow -->
		<a href="#about" class="home-arrow scroll uppercase bold">
			<img src="assets/bottom-arrow.png" alt="bottom" />
			<span class="white">what we do ?</span>
		</a>
	</div><!-- End V2 area -->
</section><!-- End Home Section -->