<!-- History -->
<section id="history" class="container parallax3">

	<div class="inner history">

		<!-- Header -->
		<h1 class="header light dark"><span class="condiment">One Tree Music</span> History</h1>

		<!-- Description -->
		<h4 class="h-desc dark">One Tree Music was founded by David Wille in 2010 in response to requests from his peers for advice and help in the music rights and sponsorship space. Having informally helped producers, creatives and brands to find and work with compelling and unique artists he grew the client base to include some of the worlds best known brands. </h4>

		<ul class="timeline">

			<!-- Time -->
			<li class="time today"><%= Date.today.year %></li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInRight" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">2nd June 2014</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">HSBC PREMIER</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">We beat competition from 4 other music production houses, and over 60 composers to produce the music for the three part, global advertising campaign for HSBC's new, premium bank account</p>

				<!-- Images -->
				<div class="timeline-images">
					<a href="http://vimeo.com/96887218"  data-rel="prettyPhoto[gallery2]" class="timeline-image"><img src="assetsvideo.png" alt="" /></a>
					
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>
			
			<!-- Time -->
			<li class="time">2014</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInRight" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">DATE?!?!?!?!</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">ANOTHER KEY BIT OF WORK FROM 2010</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">Following hot on the heels of project one was project two where we did this that and the other</p>

				<!-- Images -->
				<div class="timeline-images">
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInLeft" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">DATE?!?!?!?</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">One Tree Music Arrives </p>

				<!-- Description -->
				<p class="history-desc no-margin normal">Having set up the company we quickly got running, with this campaign for this client.</p>

				<!-- Images -->
				<div class="timeline-images">
					<a href="http://vimeo.com/55945051"  data-rel="prettyPhoto[gallery6]" class="timeline-image"><img src="assets/video.png" alt="" /></a>
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Start Icon -->
			<li class="start"><a href="#history" class="scroll dark-gray-degrade-diagonal"><span class="up-arrow"></span></a></li>
			<li class="clear"></li>
		</ul>

	</div><!-- End Inner Div -->

</section><!-- End History Section -->