<!-- History -->
<section id="history" class="container parallax3">

	<div class="inner history">

		<!-- Header -->
		<h1 class="header light dark"><span class="condiment">One Tree Music</span> History</h1>

		<!-- Description -->
		<h4 class="h-desc dark">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and by the <span class="dark bold">charms</span> of pleasure of the moment, so blinded by desire, that they cannot foresee the pain </h4>

		<ul class="timeline">

			<!-- Time -->
			<li class="time today">2014</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInLeft" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">20 jan 14</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">Sed ut perspiciatis</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many variations of passages of Lorem Ipsum available, but the believable majority have suffered alteration in some form, by injected humour.</p>

				<!-- Images -->
				<div class="timeline-images">
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInRight" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">18 jan 14</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">Contrary to popular belief</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many injected  variations of passages of Lorem Ipsum available, but the an majority have suffered alteration in some injected  form, by injected humour, or apply randomised words which don't look even slightly believable.</p>

				<!-- Images -->
				<div class="timeline-images">
					<a href="http://vimeo.com/55945051"  data-rel="prettyPhoto[gallery2]" class="timeline-image"><img src="assetsvideo.png" alt="" /></a>
					
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInLeft" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">12 jan 14</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">There are many variations of passages</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many injected  variations of passages of Lorem Ipsum available, but the an majority have suffered alteration in some injected  form, by injected humour, or apply randomised words which don't look even slightly believable.</p>

				<!-- Images -->
				<div class="timeline-images">
					<a href="http://vimeo.com/55945051"  data-rel="prettyPhoto[gallery3]" class="timeline-image"><img src="assets/video.png" alt="" /></a>
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInRight" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">03 jan 2014</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">But I must explain to you how</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many variations of passages of Lorem Ipsum available, but the believable majority have suffered alteration in some form, by injected humour.</p>

				<!-- Images -->
				<div class="timeline-images">
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Time -->
			<li class="time">2013</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInRight" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">22 dec 13</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">The standard chunk of Lorem Ipsum</p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many variations of passages of Lorem Ipsum available, but the believable majority have suffered alteration in some form, by injected humour.</p>

				<!-- Images -->
				<div class="timeline-images">
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Note -->
			<li class="note animated" data-animation="fadeInLeft" data-animation-delay="200">
				<!-- Date -->
				<p class="history-date no-margin uppercase normal">30 aug 13</p>

				<!-- Header -->
				<p class="history-head uppercase semibold">Lorem ipsum dolor sit </p>

				<!-- Description -->
				<p class="history-desc no-margin normal">There are many variations injected  passages injected humour, Lorem Ipsum.</p>

				<!-- Images -->
				<div class="timeline-images">
					<a href="http://vimeo.com/55945051"  data-rel="prettyPhoto[gallery6]" class="timeline-image"><img src="assets/video.png" alt="" /></a>
				</div>
				<!-- Arrow -->
				<span class="note-arrow"></span>
			</li>

			<!-- Start Icon -->
			<li class="start"><a href="#history" class="scroll dark-gray-degrade-diagonal"><span class="up-arrow"></span></a></li>
			<li class="clear"></li>
		</ul>

	</div><!-- End Inner Div -->

</section><!-- End History Section -->