<!-- About -->
<section id="about" class="container waypoint">
	<div class="inner">
		<!-- Header -->
		<h1 class="header semibold light">We seek, identify &amp;<span class="colored"> deliver</span> the best music &amp; artists for any campaign.</h1>
		<!-- Description -->
		<h2 class="semibold light">We produce the highest quality film and images for <span class="colored">your</span> brand campaign.</h2>
		<!-- Boxes -->
		
	</div><!-- End About Inner -->
</section><!-- End About Section -->