<!-- Portfolio -->
<section id="portfolio" class="container">

	<div class="portfolio">

		<!-- Header -->
		<h1 class="header light dark"><span class="condiment">Oxygen's Portfolio</span></h1>

		<!-- Description -->
		<h4 class="h-desc dark">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and by the <span class="dark bold">charms</span> of pleasure of the moment, so blinded by desire, that they cannot foresee the pain </h4>

	</div><!-- End inner div -->

		<!-- Expander -->
		<div class="item-expander relative">
			<div id="item-expander">
				<p class="cls-btn"><a class="close">X</a></p>
				<div class="expander-inner"></div>
			</div>
		</div>

		<!-- Filters -->
		<div id="options" class="filter-menu fullwidth">
			<ul id="filters" class=" option-set relative normal" data-option-key="filter">
				<li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
				<li><a href="#filter" data-option-value=".design">design</a></li>
				<li><a href="#filter" data-option-value=".photography">photography</a></li>
				<li><a href="#filter" data-option-value=".video">video</a></li>
				<li><a href="#filter" data-option-value=".art">art</a></li>
			</ul>
		</div>

		<!-- Works -->
		<div class="portfolio-items no-margin no-padding">

			<!-- Work -->
			<div class="work five design ">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-1.html" class="expander">
							<img src="images/portfolio/1.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 1</p>
						<p class="work-category normal no-margin">Design</p>
						<a href="images/portfolio/slide2.jpg"  data-rel="prettyPhoto[gallery]" class="work-link" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five video photography">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-2.html" class="expander">
							<img src="images/portfolio/2.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 2</p>
						<p class="work-category normal no-margin">Design</p>
						<a class="work-link-passive" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five art video">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-3.html" class="expander">
							<img src="images/portfolio/3.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 3</p>
						<p class="work-category normal no-margin">Design</p>
						<a  href="images/portfolio/slide1.jpg"  data-rel="prettyPhoto[gallery]" class="work-link"  ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five design art">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-4.html" class="expander">
							<img src="images/portfolio/4.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 4</p>
						<p class="work-category normal no-margin">Design</p>
						<a class="work-link-passive" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five design video">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-5.html" class="expander">
							<img src="images/portfolio/5.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 5</p>
						<p class="work-category normal no-margin">Design</p>
						<a href="images/portfolio/slide3.jpg"  data-rel="prettyPhoto[gallery]"  class="work-link" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five art photography">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-1.html" class="expander">
							<img src="images/portfolio/6.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 6</p>
						<p class="work-category normal no-margin">Design</p>
						<a href="images/portfolio/slide4.jpg"  data-rel="prettyPhoto[gallery]"  class="work-link" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five design photography video">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-2.html" class="expander">
							<img src="images/portfolio/7.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 7</p>
						<p class="work-category normal no-margin">Design</p>
						<a class="work-link-passive" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five video photography art">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-3.html" class="expander">
							<img src="images/portfolio/8.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 8</p>
						<p class="work-category normal no-margin">Design</p>
						<a href="images/portfolio/slide5.jpg"  data-rel="prettyPhoto[gallery]"  class="work-link" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five art">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-4.html" class="expander">
							<img src="images/portfolio/9.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 9</p>
						<p class="work-category normal no-margin">Design</p>
						<a class="work-link-passive" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Work -->
			<div class="work five photography design">
				<div class="work-inner">
					<!-- Image -->
					<div class="work-image">
						<a href="projects/project-5.html" class="expander">
							<img src="images/portfolio/10.jpg" alt="" />
							<span class="positive"></span>
						</a>
					</div>
					<!-- Work Details -->
					<div class="work-bottom">
						<p class="work-name uppercase normal no-margin">Work image 10</p>
						<p class="work-category normal no-margin">Design</p>
						<a class="work-link-passive" ><span class="arrow"></span></a>
					</div>
				</div><!-- End Work Inner -->
			</div><!-- End Work -->

			<!-- Clear -->
			<div class="clear"></div>
		</div><!-- End Works -->

</section><!-- End Porfolio Section -->