<!-- Team -->
<section id="projects" class="container">
	
	<div class="inner">
		
		<h1 class="header bold dark">Our Projects</h1><br/><br/>
	
		<% @projects.each do |p| %>
			<div class="item">
				<h2 class="dark"><%= p.client %> |  <%= p.title %>
				<!--<input type="hidden" value=<%#= p.id %> class="modal-object-id">
				<a class="service-icon infome showButton" href="#projectShow">
					<i class="fa fa-info-circle"></i>
				</a>-->
				</h2>
				<div class="fitvids">
					<iframe src="//player.vimeo.com/video/<%= p.url %>?title=0&amp;byline=0&amp;portrait=0" width="500" height="282" 
					frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div><!-- //work1 -->
		<% end %>
		
		<%= render :partial => "modal" %>
	
	</div>
</section><!-- End Team Section -->