<!-- Team -->
<section id="projects" class="container">
	
	<div class="inner">
	
		<% @projects.each do |p| %>
			<div class="item">
				<h2 class="dark"><%= p.client %> |  <%= p.title %>
				<a class="service-icon infome">
					<i class="fa fa-info-circle"></i>
				</a>
				</h2>
				<div class="fitvids">
					<iframe src="//player.vimeo.com/video/<%= p.url %>" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div><!-- //work1 -->
		<% end %>
	
	</div>
</section><!-- End Team Section -->