<!-- Team -->
<section id="projects" class="container">

	<!-- Team Inner -->
	<div class="inner team">
		<h1 class="dark">THIS IS WHERE THE PROJECTS YOU HAVE WORKED ON WILL LIVE</h1>
	</div><!-- End Team Inner -->
</section><!-- End Team Section -->