<!-- Services -->
<section id="services" class="container parallax1">

	<div class="inner">

		<!-- Header -->
		<h1 class="header bold dark">Our Services</h1>

		<!-- Description -->
		<h2 class="semibold dark">We work with visionary creative teams within brands &amp; agencies to deliver <br/><span class="colored">best in class music &amp; artists </span>for any campaign </h2>

		<!-- Boxes -->
		<div class="service-boxes">

			<!-- Box 1 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="We deliver broad and deep catalogue music searches . From this weeks latest releases and emerging stars right back through the history of  popular, classical and roots music. We search industry wide across all labels and publishers including music libraries where required.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-search"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Music Searches</p>
			</div>


			<!-- Box 2 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="We work hand in hand with the best creative minds in the business. From initial brief right through all the creative twists and turns that all campaigns and productions experience. One Tree are a trusted partner to supervise, suggest and assist your music searches.  Multi phase searches a speciallity.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-group"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Supervision</p>
			</div>


			<!-- Box 3 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="Our team of composers are capable of turning round demos of all genres and styles in 24 hours. No brief too ambient, loud, fast or slow, we deliver on brief compositions quickly.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-fast-forward"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Composition</p>
			</div>


			<!-- Box 4 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="All contract negotiations are managed for you by our expert legal team who have long term legal recording &amp; publishing backgrounds. We work extremely hard to get the best deal possible for your budget as we understand that clients budgets change over the course of a production &amp; are always ready to react.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-legal"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Synchronisation Licensing</p>
			</div>


			<!-- Box 5 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="Brands with a passion for music often want to explore how they can work in partnership with artists beyond the usual licensing framework. We have the expertise to suggest &amp; deliver deeper partnerships. We manage all strategy, approach, negotiation &amp; right acquisition. Including sponsorship, endorsement, use of name image &amp; likeness and release &amp; distribution of music.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-globe"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Partnerships</p>
			</div>


			<!-- Box 6 -->
			<div class="col-xs-2 service-box animated" data-animation="fadeIn" data-animation-delay="200" data-toggle="tooltip" data-placement="top" title="The team can work on a consultancy basis within your team if required for bigger projects . We have worked within small early start ups and bigger pan european organisations in the past.">
				<!-- Icon -->
				<a class="service-icon">
					<i class="fa fa-stethoscope"></i>
				</a>
				<!-- Header -->
				<p class="service-header dark">Consultancy</p>
			</div>

			<div class="clear"></div>

		</div> <!-- End Boxes -->

	</div><!-- End Service Inner -->

</section><!-- End Services Section -->
