<!-- Video -->
<section id="video" class="pattern-black relative">

	<!-- Video Button -->
	<a href="mailto:david@onetreemusic.tv?Subject=Message%20from%20the%20website!" class="video-button t-center scroll">
		<!-- Logo Span -->
		<span class="logo-icon-m">
			<!-- Your Logo -->
			<img src="assets/logo-icon-m.png" alt="" />
		</span>
		<!-- Video Text -->
		<p class="video-text uppercase condensed bold white">
			Get in touch
		</p>
	</a>

	<!-- Video -->
	<div id="P2" class="player video-container" data-property="{videoURL:'http://www.youtube.com/watch?v=1OwprSthYT4',containment:'#video',autoPlay:true, showControls:false, mute:true, startAt:0, opacity:1}"></div>
	<!-- End Video -->

</section><!-- End Video Section -->