<!-- Why We Are -->
<section id="why-we" class="container parallax4">

	<!-- Inner -->
	<div class="inner">

		<!-- Left Area -->
		<div class="col-xs-6 left animated" data-animation="fadeInLeft" data-animation-delay="300">

			<!-- First Holder -->
			<div class="holder1">
				<!-- Holder Button  -->
				<a href="#" class="positive-m first-holder" data-toggle="tooltip" data-placement="top" title="There are many variations of passages of Lorem Ipsum available." ></a>
			</div>

			<!-- Second Holder -->
			<div class="holder2">
				<!-- Holder Button  -->
				<a href="#" class="positive-m second-holder" data-toggle="tooltip" data-placement="right" title="There are many variations of passages of Lorem Ipsum available." ></a>
			</div>

			<!-- Third Holder -->
			<div class="holder3">
				<!-- Holder Button  -->
				<a href="#" class="positive-m third-holder" data-toggle="tooltip" data-placement="bottom" title="There are many variations of passages of Lorem Ipsum available." ></a>
			</div>

		</div>

		<!-- Right Accordion -->
		<div class="col-xs-6 right accourdion-menu">

			<!-- Detail -->
			<h1 class="header normal dark t-left">Why you'll <span class="colored condiment bigger">Love it ?</span></h1>


			<!-- Accordion -->
			<div class="accordion why-oxygen-accordion bold" id="accordion">
				<!-- Accordion Tab -->
				<div class="panel transparent">
					<!-- Heading -->
					<div class="accordion-heading">
						<!-- Acordion Header -->
						<a class="accordion-toggle dark" data-toggle="collapse" data-parent="#accordion" href="#coll-one">
							<!-- Header Icon -->			   <!-- Header -->
							<span class="positive-s"></span> Contrary to popular belief, Lorem Ipsum is not simply random text.
						</a>
					</div><!-- End Heading -->
					<!-- Details -->
					<div id="coll-one" class="accordion-body collapse in">
						<!-- Inner -->
						<div class="accordion-inner dark">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, It has survived not only five centuries, but also the leap into electronic typesetting, Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div><!-- End Inner -->
					</div><!-- End Details -->
				</div><!-- End Accordion Tab -->

				<!-- Accordion Tab -->
				<div class="panel transparent">
					<!-- Heading -->
					<div class="accordion-heading">
						<!-- Acordion Header -->
						<a class="accordion-toggle dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#coll-two">
							<!-- Header Icon -->			   <!-- Header -->
							<span class="positive-s"></span> It has roots in a piece of classical Latin literature from
						</a>
					</div><!-- End Heading -->
					<!-- Details -->
					<div id="coll-two" class="accordion-body collapse">
						<!-- Inner -->
						<div class="accordion-inner dark">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div><!-- End Inner -->
					</div><!-- End Details -->
				</div><!-- End Accordion Tab -->


				<!-- Accordion Tab -->
				<div class="panel transparent">
					<!-- Heading -->
					<div class="accordion-heading">
						<!-- Acordion Header -->
						<a class="accordion-toggle dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#coll-three">
							<!-- Header Icon -->			   <!-- Header -->
							<span class="positive-s"></span> Sydney College in Virginia, looked up one of the more obscure Latin .
						</a>
					</div><!-- End Heading -->
					<!-- Details -->
					<div id="coll-three" class="accordion-body collapse">
						<!-- Inner -->
						<div class="accordion-inner dark">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div><!-- End Inner -->
					</div><!-- End Details -->
				</div><!-- End Accordion Tab -->


				<!-- Accordion Tab -->
				<div class="panel transparent">
					<!-- Heading -->
					<div class="accordion-heading">
						<!-- Acordion Header -->
						<a class="accordion-toggle dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#coll-four">
							<!-- Header Icon -->			   <!-- Header -->
							<span class="positive-s"></span> There are many variations of passages of Lorem Ipsum available.
						</a>
					</div><!-- End Heading -->
					<!-- Details -->
					<div id="coll-four" class="accordion-body collapse">
						<!-- Inner -->
						<div class="accordion-inner dark">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div><!-- End Inner -->
					</div><!-- End Details -->
				</div><!-- End Accordion Tab -->

				<!-- Accordion Tab -->
				<div class="panel transparent">
					<!-- Heading -->
					<div class="accordion-heading">
						<!-- Acordion Header -->
						<a class="accordion-toggle dark collapsed" data-toggle="collapse" data-parent="#accordion" href="#coll-five">
							<!-- Header Icon -->			   <!-- Header -->
							<span class="positive-s"></span> Sed ut perspiciatis unde.
						</a>
					</div><!-- End Heading -->
					<!-- Details -->
					<div id="coll-five" class="accordion-body collapse">
						<!-- Inner -->
						<div class="accordion-inner dark">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						</div><!-- End Inner -->
					</div><!-- End Details -->
				</div><!-- End Accordion Tab -->
			</div><!-- End Accordion Menu -->
		</div><!-- End Right Div -->
		<div class="clear"></div>
	</div><!-- End Inner Div -->
</section><!-- End Why We Section -->