<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">
		{{client}} - {{title}}.
	</h4>
</div>
<div class="modal-body bodyModal">
	<div id="description"><h3 class="modal-h3 dark">What we did</h3><div class="justify dark">{{description}}</div><br/><br/></div>
</div>
<div class="modalVideo"><iframe src="//player.vimeo.com/video/{{video}}" width="500" height="282" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
