<!-- Footer -->
<footer class="footer">
	
	<div class="container contactForm">
					
		<!--<div class="contactEmail">
  			<input class="contactField" id="contact_email" name="contact[email]" placeholder="Your E-mail" size="30" type="text" /><br /><br />
		</div>
	
		<div class="contactName">
  			<input class="contactField" id="contact_name" name="contact[name]" placeholder="Your Name" size="30" type="text" /><br /><br />
		</div>
	
		<div class="contactMessage">
  			<textarea class="contactFieldArea" cols="40" id="contact_user_message" name="contact[user_message]" placeholder="Message" rows="20">
			</textarea><br /><br />
		</div>
  		
		<div class="submit"><input class="button4" id="contact-submit" name="commit" type="submit" value="Send message" /></div>-->
		
		<div class="inner no-padding">
			<!-- Your Text -->
			<p class="normal white blockquote italic">
				<em><a href="mailto:david@onetreemusic.tv?Subject=Message%20from%20the%20website!">david(at)onetreemusic(dot)tv<a></em>
			</p><br/>
			<p class="normal white blockquote italic">
				<bold><em>+44 7970848343</em></bold>
			</p><br/>
		</div>
		
	</div>
	<!-- Your Company Name -->
	<h2 class="company-name condensed uppercase white bold">One Tree Music</h2>
	<!-- Copyright -->
	<p class="copyright normal">© 2014 All Rights Reserved.</p>
</footer><!-- End Footer -->